html {
    min-width: 330px;
}


.background {
    background: url('back.jpg') no-repeat center center;
    background-size:cover;
    height: 100vh;
}

.content {
    background-color: white;
    height: 100vh;
}

.header a {
    cursor: pointer;
}

.loginFormText {
    cursor: pointer;
    display: block;
    padding-top: 15px;
    color: #777;
    padding-bottom: 15px;
}

    .loginFormText:hover {
        color: #333;
    }

.navbar-right li {
    padding: 0 10px 0 10px;

}

.image_src {
    max-width: 100%;
}

.del_btn {
    margin-top:5px;
}

.description_edit {
    width: 80%;
    display: block;
    margin: auto;
}
.home_desc_btn
{
    margin:10px 5px 0 5px;
}
.image_src_big, .image_preview {
    height: 150px;
}
.view_image{
    display:inline-block;
    padding: 20px 30px 10px 0;
}
.images{
    display:block;
}

.album_select{
    padding: 3px;
}
.upload_form  div{
    margin: 20px 0 20px 0;
}
.extensions{
    display:inline-block;
    margin: 0 10px 0 10px;
}
.btns{
    display: inline-block;
    margin:0 20px 0 0;
}
.image_cost {
    padding-top: 5px;
}